.note-title {
  background-color: lightblue;
}

.note-body {
  background-color: lightgrey;
}

.note-button {
  float: right;
}

.note-edit-area {
  width: 100%;
}

.highlight {
  background-color: yellow;
}

.note-body {
  overflow: auto;
}

.alert {
  border: 2px solid red;
  border-radius: 5px;
  background-color: pink;
  padding: 20px;
}

.alert-close {
  float: right;
  font-size: 20px;
}
