.note-title {
  background-color: lightblue;
}

.note-body {
  background-color: lightgrey;
}

.note-button {
  float: right;
}

.note-edit-area {
  width: 100%;
}

.highlight {
  background-color: yellow;
}

.note-body {
  overflow: auto;
}
